<div class="header-container">
  <div class="header-left">
    <ul>
      <li>
        <h2>
          <a routerLink="/">Home</a>
        </h2>
      </li>
      <li>
        <h2>
          <a routerLink="view-all-contacts">View All Contacts</a>
        </h2>
      </li>

      <li>
        <h2>
          <a routerLink="create-contacts">Create Contacts</a>
        </h2>
      </li>
      <li>
        <h2>
          <a routerLink="profile">My Profile</a>
        </h2>
      </li>
    </ul>
  </div>
</div>
