ul {
  margin: 15 px;
  padding: 0;
  background-color: lighten(gray, 40%);
  text-align: center;
  li {
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
    a {
      text-decoration: none;
      margin: 20px;
      font-size: 20px;
    }
  }
}
