ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
  a {
    text-decoration: none;
    font-size: 13px;
    padding-right: 13px;
    color: #2c302e;
    font-family: "Press Start 2P";
  }
  a:hover,
  .active {
    color: black;
    font-weight: bold;
  }
}

.header-container {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #909590;

  .header-left {
    margin: 0 5px;
    font-family: "Press Start 2P", sans-serif;
    padding-top: 10px;
    padding-left: 5px;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
  }

  .header-right {
    float: right;
  }
}

button {
  border: 0;
  padding: 10px;
  font-size: 16px;
  color: white;
  background-color: #2c302e;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 10px;
  font-family: "Quantico", sans-serif;

  &:hover {
    background-color: lighten(#2c302e, 10%);
  }
}
html,
body {
  background-color: black;
  margin: 0;
}

.logged-in {
  font-family: "Quantico", sans-serif;
  font-weight: bold;
}
