<div class="container">
  <form class="contactform">
    <label for="contact"> Create a Contact: </label><br />
    <input
      type="text"
      placeholder="name"
      name="name"
      [(ngModel)]="newContact.name"
    />
    <br />
    <input
      type="text"
      placeholder="email"
      name="email"
      [(ngModel)]="newContact.email"
    />
    <br />
    <input
      type="text"
      placeholder="mobile"
      name="mobile"
      [(ngModel)]="newContact.mobile"
    />
    <br />
    <input
      type="text"
      placeholder="address"
      name="address"
      [(ngModel)]="newContact.address"
    />
    <br />
    <button (click)="createContact()">CREATE</button>
  </form>
  <br />
</div>
