<h1>create contacts page</h1>

<h2>USERS:</h2>
<div class="container">
  <form>
    <label for="user"> Create a User: </label><br />
    <input
      type="text"
      placeholder="username"
      name="username"
      [(ngModel)]="newUser.username"
    />
    <br />
    <input
      type="text"
      placeholder="name"
      name="name"
      [(ngModel)]="newUser.name"
    />
    <br />
    <input
      type="text"
      placeholder="email"
      name="email"
      [(ngModel)]="newUser.email"
    />
    <br />
    <input
      type="text"
      placeholder="address"
      name="address"
      [(ngModel)]="newUser.address"
    />
    <br />
    <button (click)="createUser()">Create</button>
  </form>
  <br />
</div>
